/* h1{
    color: blue;
}
h2{
    color: yellow;
    background-color: bisque;
} */

h1 {
    color: blue;
}
span {
    /* color: yellow; */
    /* background-color: bisque; */
    border: 2px solid black;
}
