{% extends 'dashboard/base.html' %}
{% block title %}Home{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2 class="mb-4">Explore Profiles</h2>
    {% if users %}
        <div class="row">
            {% for user in users %}
                <div class="col-md-4 mb-3">
                    <div class="card shadow-sm border-0 p-3" style="background-color: #f0f8ff; border-radius: 15px;">
                        <div class="card-body text-center">
                           <h5 class="card-title">
                            <a href="{% url 'public_profile' user.id %}" class="text-decoration-none text-dark">@{{ user.name }}</a>
                          </h5>
                            <p class="fw-bold text-dark">{{ user.bio|default:"No bio added yet." }}</p>
                            <form method="post" action="{% url 'toggle_follow' user.id %}">
                                {% csrf_token %}
                                {% if user in current_user.following.all %}
                                    <button type="submit" class="btn btn-danger btn-sm">Unfollow</button>
                                {% else %}
                                    <button type="submit" class="btn btn-primary btn-sm">Follow</button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-muted">No users found.</p>
    {% endif %}
</div>
{% endblock %}
